<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Koffeinfrei.Zueribad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Koffeinfrei.Zueribad.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Koffeinfrei.Zueribad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Koffeinfrei.Zueribad.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Koffeinfrei.Zueribad.Properties.Settings>
            <setting name="FavoriteBath" serializeAs="String">
                <value />
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>-657931</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>16777215</value>
            </setting>
            <setting name="DataUpdateInterval" serializeAs="String">
                <value>3600000</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </Koffeinfrei.Zueribad.Properties.Settings>
        <Koffeinfrei.Zueribad.Settings>
            <setting name="FavoriteBath" serializeAs="String">
                <value />
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>-657931</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>16777215</value>
            </setting>
            <setting name="DataUpdateInterval" serializeAs="String">
                <value>3600000</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
        </Koffeinfrei.Zueribad.Settings>
    </userSettings>
    <applicationSettings>
        <Koffeinfrei.Zueribad.Properties.Settings>
            <setting name="DataFile" serializeAs="String">
                <value>http://www.stadt-zuerich.ch/stzh/bathdatadownload</value>
            </setting>
            <setting name="VersionUrl" serializeAs="String">
                <value>https://github.com/koffeinfrei/zueribad-wintray/raw/master/version.txt</value>
            </setting>
            <setting name="DownloadUrlFormat" serializeAs="String">
                <value>https://github.com/downloads/koffeinfrei/zueribad-wintray/zueribad_setup_{0}.exe</value>
            </setting>
        </Koffeinfrei.Zueribad.Properties.Settings>
        <Koffeinfrei.Zueribad.Settings>
            <setting name="DataFile" serializeAs="String">
                <value>http://www.stadt-zuerich.ch/stzh/bathdatadownload</value>
            </setting>
        </Koffeinfrei.Zueribad.Settings>
    </applicationSettings>
</configuration>